@import url('https://fonts.googleapis.com/css2?family=Chivo&family=Nunito+Sans:wght@600&family=Poppins:ital,wght@0,100;1,300&display=swap');

.App {
    width: 100vw; 
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
}

.navbar {
    background-color: #C0D6DF;
    width: 100%;
    height: 50px;
    font-family: 'Chivo', 'sans-serif';
    display: flex;
}

.navbar .leftSide {
flex: 50%;
display: flex;
align-items: center;
}

.navbar .leftSide .links a {
    max-height: 50px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-left: 20px;
   
}

.navbar .leftSide button {
    display: none;
    margin-left: 20px;
}

.navbar .leftSide #hidden {
    display: flex;
}

.navbar .rightSide {
flex: 50%;
display: flex;
align-items: center;
justify-content: flex-end;
padding-right: 20px;

}

.navbar .rightSide input {
    width: 200px;
    height: 25px;
    border: none;
    border-radius: 4px;
    padding-left: 10px;
    font-size: 16px;
    font-family: 'Chivo', 'sans-serif';
    color: black;
}

.rightSide button {
    height: 25px;
    width: 70px;
    font-size: 15px;
    font-family: 'Chivo', 'sans-serif';
    border: none;
    margin-left: 10px;
}

@media only screen and (max-width: 850px) {
    .navbar .leftSide .links a {
        font-size: 20px;
        margin-left: 10px;
    }
    .navbar .rightSide input {
        width: 150px;
    }
    .navbar .rightSide button {
        width: 70px;
    }
}

@media only screen and (max-width: 650px) {
    .navbar .leftSide button {
        display: flex;

    }

    .navbar .leftSide .links {
        display: none;
    }

    .navbar .leftSide #hidden {
        position: absolute;
        left: 0;
        top: 50px;
        height: auto;
        max-height: 200px;
        width: 100%;
        background-color: #C0D6DF;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .leftSide #hidden a {
       margin: 10px;
        font-size: 25px;
    }
}
    