.App {
  text-align: center;
}


.App-header {
  background-color: #6d8bc1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

.header-text {
  font-size: large;
  font-family: 'Roboto', sans-serif;
}

.button-lines {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
}